.idea
.DS_Store
./__pycache__
./venv

.env

amazon-selling-partners-api/.env
amazon-selling-partners-api/includes/__pycache__

amazon-ads-api/.env
amazon-ads-api/includes/__pycache__

bq-credentials.json
bq-*-credentials.json
bq-credentials-*.json

amazon-*/bq-credentials.json
amazon-*/bq-*-credentials.json
amazon-*/bq-credentials-*.json

amazon-selling-partners-api/CleanAndLoad/Download/*
!amazon-selling-partners-api/CleanAndLoad/Download/.keep

amazon-ads-api/CleanAndLoad/Download/*
!amazon-ads-api/CleanAndLoad/Download/.keep
